@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1>Catalog Online</h1>

    <img src="~/Poze/images.png" alt="Trulli" width="800" height="400" />
</div>


<h2>Prezentare Catalog Online:</h2>
<p class="glyphicon-triangle-right">Pentru inceput trebuie sa introduceti datele<br /> personale ale studentului(Nume,Prenume,CNP,Clasa de care apartine); </p>
<p>Pentru fiecare student adaugat aveti posibilitatea sa adaugati absente.</p>
<p>De asemenea puteti vizualiza datele la care au fost introduse absentele si numarul total</p>
<p>Toate aceaste sunt posibile din @Html.ActionLink("Afisare", "Afisare");</p>